
*{
    padding: 0;
    margin: 0;
}
.crazy:active, .crazy.active{
    background-image: url("https://media.giphy.com/media/xiRWsByXkxT1e/giphy.gif");
    background-size: cover;
    background-repeat: no-repeat;
}
h1{
    color: gold;
    font-size: 48px;
    position: absolute;
    left: 32%;
    top: 8%;
}
.startBtn{
    position: absolute;
    top: 39%;
    left: 42%;
    border-radius: 10px;
    font-size: 30px;
    background-color: rgb(110, 110, 110);
    color: red;
    width: 113px;
    height: 57px;
    font-family: 'Segment7Standard'; 
}
.startBtn:active,.startBtn.active{
    background-color: rgb(133, 197, 30);
    font-weight: 800;
}

#round{
    position: absolute;
    top: 52%;
    left: 46.5%;
    font-size: 40px;
    background-color: rgb(70, 70, 70);
    color:red;
    width: 60px;
    height: 50px;
    text-align: center;
    padding-top:3%;
    border-radius: 8px;
    font-family: 'Segment7Standard'; 
    font-weight: bold; 
    font-style: italic; 
}


.container{
    margin: 5px;
    width: 673px;
    height: 784px;
    border-radius: 50%;
    position: relative;
    margin: auto;
    background-color: rgb(26, 26, 26);
}

.outerCircle {
    background-color: rgb(26, 26, 26);
    border:1px solid gba(134, 134, 134);
    border-radius: 50%;
    width: 500px;
    height: 500px;
    position: relative;
    margin: auto;
    top: 19%;
}
#spin{
    animation: spin infinite linear;
    animation-duration: 20s;
}
  @keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg)}
  }
#innerCircel {
    background-color: rgb(201, 201, 201);
    border: 2px solid rgba(134, 134, 134);
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 20.5%;
    left: 20.5%;
    box-sizing: border-box;
    padding: 0 1px 1px 0;
}

.lightBlue{
    background-color: rgb(31, 102, 255);
    border: 3px solid rgb(26, 26, 26);
    border-top-left-radius: 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    left: 0%;
    box-sizing: border-box;
}
.lightBlue:active, .lightBlue.active{
    background-color: rgb(161, 211, 252);
    transform: scale(1.05);
}

.lightGreen{
    background-color: rgb(0, 168, 22);
    border: 3px solid rgb(26, 26, 26);
    border-top-right-radius: 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 0%;
    left: 50%;
    box-sizing: border-box;
}
.lightGreen:active, .lightGreen.active{
    background-color: rgb(173, 255, 173);
    transform: scale(1.05);
}

.lightYellow{
    background-color: rgb(255, 238, 0);
    border: 3px solid rgb(26, 26, 26);
    border-bottom-left-radius: 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 0%;
    box-sizing: border-box;
}
.lightYellow:active, .lightYellow.active{
    background-color: rgb(255, 253, 136);
    transform: scale(1.05);
}

.lightRed{
    background-color: rgb(255, 9, 42);
    border: 3px solid rgb(26, 26, 26);
    border-bottom-right-radius: 100%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    box-sizing: border-box;
}
.lightRed:active, .lightRed.active{
    background-color: rgb(255, 158, 94);
    transform: scale(1.05);
}
  